*{
    padding: 0;
    margin: 0;
}

.text-title {
    font-weight: 500;
    font-size: 22px;
    line-height: 33px;
    color: #fff;
}

.table-text {
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
}

.default-text {
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
    color: #464E5F;
}

.default-subtext {
    font-weight: 500;
    font-size: 13px;
    line-height: 20px;
    color: #B5B5C3;
}

.small-text-subtitle {
    font-weight: 500;
    font-size: 12px;
    line-height: 23px;
    color: #464E5F;
}

.small-text-title {
    font-weight: 600;
    font-size: 17px;
    line-height: 26px;
    color: #464E5F  ;
}

.widget-font {
    font-weight: 500;
    font-size: 13px;
    line-height: 20px;
}

.widget-font-bold {
    font-weight: 700;
    font-size: 22px;
    line-height: 33px;
}

.blur-font {
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
    color: #B5B5C3;
}

.cash-font {
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    color: #464E5F;
}

.cl-white {
    color: white;
}

.m-l-30px {
    margin-left: 30px;
}

.m-l-15 {
    margin-left: 15px;
}

.m-r-30px {
    margin-right: 30px;
}

.m-t-23 {
    margin-top: 23px;
}

.m-b-40 {
    margin-bottom: 40px;
}

.m-b-30 {
    margin-bottom: 30px;
}

.p-r-100 {
    padding-right: 100px;
}

.p-r-45 {
    padding-right: 35px;
}

.p-r-21 {
    padding-right: 21px;
}

.p-r-65 {
    padding-right: 62px;
}

a {
    text-decoration: none;
    color: #fff;
}

.main {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
    background: #F3F6F9;
}

.header {
    background-image: url(assets/img/background-header.png);
    background-size: cover;
    /* background-repeat: no-repeat; */
    /* max-width: 1500px; */
    width: 100%;
    display: flex;
    flex-direction: column;
    max-width: 1500px;
    margin: 0 auto; 
}

.navbar {
    display: flex; 
    justify-content: space-between;
    border-bottom: 1px solid rgba(255, 255, 255, 0.13);
}

.navbar-left {
    display: flex;
    margin-left: 137px  ;
}

.navbar-right {
    margin-top: 14px;
    margin-right: 149.83px;
}

.navbar-menu {
    display: flex;
}

.navbar-menu li {
    display: flex;
    text-align: center;
    align-items: center;
}

.navbar-menu li a {
    padding: 11px 17px;
    color: #fff;
    font-weight: 500;
    font-size: 13px;
    line-height: 20px;
}

.navbar-menu li a:hover {
    background: rgba(255, 255, 255, 0.1);
    border-radius: 6px;
}

.welcome-text {
    font-weight: 500;
    font-size: 11px;
    line-height: 16px;
    color: white;
    text-align: left;
}

.sub-header {
    display: flex;
    justify-content: space-between;
    margin-left: 150px;
    margin-right: 150px;
    margin-top: 39.5px;
}

.sub-header-btn {
    display: flex;
}

.sub-header li {
    display: inline-flex;
    margin-left: 18px;
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
}

.sub-header a {
    color: #B5B5C3;
}

.text-white-btn {
    color: #80808F !important;
}

.wave-vector {
    margin: 0 auto;
    margin-top: 18px;   
}

.first-section {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    gap: 40px;
    max-width: 1200px;
    position: relative;
    top: -78px;
}

.sale-graph {
    flex: 31.1%; 
    background: white; 
    border-radius: 6px;
    position: relative;
}

.vector {
    position: relative;
    top: 33px;
}

.top-author {
    display: flex;
    flex-direction: column;
    position: relative;
    top: 37px;
}

.author-list {
    flex:1;
    display: flex;
    margin-top: 30px;
}

.author-list img {
    height: 50px;
    width: 50px;
}

.widget-box {
    background: #FFFFFF;
    box-shadow: 0px 0px 35px rgba(181, 181, 195, 0.15);
    border-radius: 6px;
}

.resize-box {
    background: #F3F6F9;
    border-radius: 6px;
    padding: 5px 4px;
    font-weight: 600;
    font-size: 13px;
    line-height: 20px;
    color: #80808F;
    max-height: 30px;
    margin-left: 90px;
    align-items: center;
    justify-self: right;
    display: flex;
}

.right-banner {
    flex: 58.8%;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.widget {
    box-shadow: 0px 0px 35px rgba(181, 181, 195, 0.15);
    border-radius: 6px;
    background: white;
    min-width: 200px;
    height: 130px;
}

.first-col-banner {
    display: flex;
    justify-content: space-between;
    gap: 30px;
}

.widget-no1 {
    flex: 25.3%;
    background-image: url("assets/img/house.png");
    background-size: 200px;
}

.houses-title {
    margin: 16px 23px;
}

.widget-no2 {
    flex: 70.8%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px;
}

.second-col-banner {
    display: flex;
    justify-content: space-between;
    gap: 30px;
}

.left-aside-second-banner {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.upper-banner {
    flex: 54.4%;
    background: #66325d;
    font-weight: 600;
    font-size: 20px;
    line-height: 28px;
    color: white;
    border-radius: 12px;
    display: flex;
    max-width: 430px    ;
    /* background-image: url("assets/img/Taieri.svg"); */
}

.left-aside-text {
    min-width: 230px;
    position: relative;
    top: 34px;
    left: 30px;
}

.left-aside-text .default-btn{
    margin: 19px 0;
}

.vignette {
    position: relative;
    right: 230px;
}

.widget-no2-text .default-text {
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
}

.widget-no2-text .default-subtext{
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
}

.bottom-box {
    display: flex;
    justify-content: space-between;
    gap: 30px;
}

.widget-no3 {
    background: #5F5CF1;
}

.widget img {
    height: 27px;
}

.right-aside-second-banner {
    flex: 41.7%;
    background-image: url("assets/img/daniel-olah-1079449-unsplash\ 1.png");
    background-repeat: none;
    background-size: cover;
    border-radius: 12px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.right-aside-text {
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    color: white;
}

.right-aside-subtext a{
    font-weight: 500;
    font-size: 13px;
    line-height: 20px;
    color: #EF6327;
}

.right-aside-subtext img {
    position: relative;
    top: 5px;
}

.second-section {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    gap: 40px;
    max-width: 1200px;
    position: relative;
    top: -38px;
}

.sale-graph-2 {
    flex: 31.1%;
    background: green;
    min-height: 470px;
    background: radial-gradient(50% 38.76% at 50% 31.25%, #FF6A7A 0%, #F64E60 100%);
    display: flex;
    flex-direction: column;
}

.sale-graph-2-text {
    display: flex;
    justify-content: space-between;
    color: white;
    font-weight: 600;
    font-size: 17px;
    line-height: 26px;
    padding: 23px 30px;
}

.chart {
    margin: 0 37.59px;
}

.sale-info {
    background: white;
    border-radius: 5px;
    min-height: 218.81px;
}

.box-info {
    padding-top: 31px;
    padding-left: 47px;
    display: flex;
    flex-direction: column;
    min-width: 124px;
}

.flex-row {
    display: flex;
}

.new-arrival {
    flex: 58.8%;
    display: flex;
    flex-direction: column;
}

.table-title {
    flex :15.11%
}

.table-text {
    display: flex;
    justify-content: space-between;
    margin: 26px 30px;
}

.main-table {
    flex: 84.89%
}

.author {
    display: flex;
    align-items: center;
}

.main-table th {
    text-align: left;
    padding-bottom: 20px;
}

.main-table td {
    padding-top: 11px;
    padding-bottom: 11px;
    border-top: 1px solid #E5EAEE;
}

.checkbox input {
    height: 25px;
    width: 25px;
    margin-left: 30px;
    cursor: pointer;
}

